body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #f7f7f7;
}

h2 {
    margin-bottom: 20px;
}

.question {
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.choices button {
    display: block;
    width: 100%;
    margin: 6px 0;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #aaa;
}

.choices button:hover {
    background: #eee;
}

.reveal-btn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    background: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

.answer-box {
    display: none;
    background: #e7ffe7;
    padding: 10px;
    margin-top: 10px;
    border-left: 4px solid green;
    border-radius: 6px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(2px);
    display: none;
    /* hidden by default */
    justify-content: center;
    align-items: start;
    z-index: 999;
    overflow: scroll;
}

/* Modal box */
.modal-box {
    background: #fff;
    padding: 25px;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease-out;
}

/* Simple fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.92);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Close button */
.modal-close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.modal-close:hover {
    color: black;
}

.wrong {
    color: #c16363;
    font-weight: bold;
}

.correct {
    color: #3ebd3e;
    font-weight: bold;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.question-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #e8e5e5;
}

.timer {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
    color: #4516d0;
}

.submit-btn {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.login-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}
.registration-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}
.txt-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    width: 85%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.switch-link {
    margin-top: 15px;
    cursor: pointer;
    color: #2196F3;
    text-decoration: underline;
    display: inline-block;
}